*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
h1,p{
    color: #fff;
    font-size: 20px;
}
h1{
    font-size: 40px;
    margin-bottom: 20px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: center;
}
main{
    width: 100%;
    height: 100vh;
    background-color: #fff ;
}
.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box__child{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.box__child{
    width: 200px;
    height: 300px;
    background-color: darkcyan;
    margin: 0 20px;
    border-radius: 20px;
}
footer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(cadetblue 50%, #fff 50%);
}
.subFooter{
    width: 400px;
    height: 150px;
    background-color: black;
    border-radius: 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.zomm {
    transform: scale(0.01);

}
.left-to-right {
    transform: translateX(-180%);
    transition: 1s;
}
.right-to-left {
    transform: translateX(180%);
    transition: 1s;
}

.left-to-right.start {
    transform: translateX(0%);
    transition: 1.2s;
}
.right-to-left.start {
    transform: translateX(0%);
    transition: 1.2s;
}
.zomm.start {
    transform: scale(1);
    transition: 0.75s;
}
